ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

li {
    display: inline;
}

a {
    text-decoration: none;
}

.material-icons {
    
    position: relative;
    top: 6px;
}

.main-content {
    text-align: center;
}

