body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://walli.quosmos.com/files/thumbs/c/6/e/c6e5c2f80bed69798feae447b9ffdc9157c0560a/color15__800_800.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

li {
    display: inline;
    padding: 0 5px 0 5px;
}

a {
    text-decoration: none;
    color: #fff;
}

li .material-icons {
    
    position: relative;
    top: 6px;
}

.logo {
    margin: 130px 0px 30px 0px;
    text-align: center;

}

#search-bar {
    width: 550px;
    height: 50px;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 0 10px;
   
}

#search-bar > input {
    flex: 1;
    height: 30px;
    border: none;
    padding-left: 10px;;
}

#search-bar > input:focus {
    outline: none;
}

#search-bar > i {
    color: #777;
}

input[placeholder] {
    font-size: 15px;
}

#footer {
    position: absolute;
    bottom: 15px;
    left: 10px;
    width: 100%;
}

footer ul{
    text-align: left;
}

footer li {
    display: block;
    font-size: 14px;
    text-decoration: underline;
}

#reference-link {
    width: 135px;
    height: 50px;
    padding: 3px 5px;
    border-radius: 10px;;
}
#reference-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

footer i {
    padding-right: 10px;
}

